.wrapper {
  //background-color: rebeccapurple;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
  //width: 500px;

  button {
  margin-right: 0;
  }

  * {
    //border: 1px solid;
  }

  .page {
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
    font-size: 26px;
  }
  .dropdownWrapper{
    width: 200px;
  }
}