@use 'src/styles/layout-variables';
@use 'src/styles/flat-design-colors';
@import 'src/styles/flat-design-forms';

.wrapper {
  @extend .container;

  form {
    @extend .form;

    h1 {

    }

    p {
      //font-weight: 700;
      //font-size: 18px;
    }

    a {

    }

    label {
      //font-size: 18px;

    }

    .formBottom {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}