@use 'src/styles/flat-design-colors';
@import 'src/styles/flat-design-forms';

.wrapper {
  @extend .container;

  form {
    @extend .form;
    div{
      //border: 1px solid;
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;
      width: 100%;
    }
  }
}