@use 'src/styles/flat-design-colors';

.wrapper {
  box-sizing: border-box;
  padding: 40px;
  color: white;
  background-color: flat-design-colors.$secondaryColor;
  width: 90%;
  min-height: 50vh;
  font-size: 18px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;

  h1 {
    margin: 10px;
  }

  * {
    box-sizing: border-box;
    //border: 1px solid red;
  }

  .controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form {
    border: 1px solid;
    display: flex;
    flex-direction: row;
    //justify-content: flex-end;
    align-items: center;
    gap: 50px;

    .textInput {
      width: 50%;
      min-width: 300px;

    }
  }
}