@use '../../styles/layout-variables';

@use '../../styles/flat-design-colors';

.wrapper {
  //border: 2px solid magenta;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
  height: 70px;
  box-sizing: border-box;

}

.button {
  display: inline-block;

  box-sizing: border-box;
  width: 100%;
  border: none;
  color: flat-design-colors.$normalText;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 50px;
  border-radius: layout-variables.$elementsBorderRadius;
  //margin: 5px;
  border-bottom-style: solid;
  border-bottom-width: 3px;
  transition: text-shadow 0.3s ease;
  font-size: 18px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  cursor: pointer;

  //* {
  //  box-sizing: border-box;
  //}

  span {
    //border: 1px solid;
    position: relative;
  }

  span::after {
    content: "";
    width: calc(100% + 10px);
    height: 3px;
    background-color: flat-design-colors.$normalButtonBorder;
    position: absolute;
    bottom: -5px;
    transition: transform 0.2s;
    left: -5px;
    right: 5px;
    //transform: translateX(-50%, -50%);
    transform: scaleX(0);
  }
}

.button:active {
  position: relative;
  top: 1px;
  border-bottom-width: 2px;
}

.button:hover {
  text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);

  span::after {
    //width: calc(100% - 100px);
    transform: scaleX(1);
    transition: transform 0.4s;
  }
}

.salmon {
  background-color: salmon;
  border-color: rgb(150, 120, 120);

  &::after {
    background-color: flat-design-colors.$elementsBorderColorThemeRed;
  }
}


.green {
  background-color: #4CDF78;
  border-color: #53A574;

  &::after {
    background-color: flat-design-colors.$elementsBorderColorSecondary;
  }
}

.normal {
  background-color: flat-design-colors.$elementsColorDefault;
  border-color: flat-design-colors.$elementsBorderColorDefault;
}

.danger {
  background-color: rgb(231, 76, 60);
  border-color: rgb(192, 57, 43);

  &::after {
    background-color: rgb(192, 57, 43);
  }
}

.wrapper{
  button {
    &:disabled{
      pointer-events: none;
      background-color: flat-design-colors.$disabledNormalButtonBackground;
    }
  }
}