@use 'src/styles/layout-variables';

.wrapper{
  background-color: #f49536;
  height: layout-variables.$headerHeight;
  margin: 0;
  padding: 0;
  a{
    text-decoration: none;
    margin-right: 20px;
  }
}