$colorTheme: #275EFE;
$switchWidth: 80px;
$switchHeight: 40px;
$switchHandleSize: $switchHeight - 6px;
$switchRadius: calc(#{$switchHeight} / 2);

.wrapper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 12px;
  padding: 0;
  width: 100%;
  max-width: 320px;
  position: relative;

  * {
    box-sizing: inherit;

    &:before,
    &:after {
      box-sizing: inherit;
    }
  }

  input {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: $switchHeight;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background .3s, border-color .3s, box-shadow .2s;
    width: $switchWidth;
    border-radius: $switchRadius;
    box-shadow: inset 3px 3px 10px rgba(0,0,0,.5);


    &:after {
      content: '';
      display: block;
      position: absolute;
      transition: transform (var(--d-t, .3s)) var(--d-t-e, ease), opacity var(--d-o, .2s);
      left: 2px;
      top: 2px;
      border-radius: 50%;
      width: $switchHandleSize;
      height: $switchHandleSize;
      background: var(--ab, var(--border));
      transform: translateX(var(--x, 0));
      box-shadow: inset -3px -3px 6px rgba(0,0,0,.5);
    }

    &:checked {
      --b: var(--active);
      --bc: var(--active);
      --d-o: .3s;
      --d-t: .6s;
      --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
      --ab: var(--active-inner);
      --x: calc(#{$switchWidth} - #{$switchHandleSize} - 6px);
      box-shadow: inset 3px 3px 10px rgba(0,0,0,.5);

    }

    &:disabled {
      --b: var(--disabled);
      cursor: not-allowed;
      opacity: .9;

      &:checked {
        --b: var(--disabled-inner);
        --bc: var(--border);
      }
      &:not(:checked) {
        &:after {
          opacity: .6;
        }
      }
    }

    &:hover {
      &:not(:checked) {
        &:not(:disabled) {
          --bc: var(--border-hover);
        }
      }
    }

    &:focus {
      //box-shadow: 0 0 0 var(--focus);
      box-shadow: inset 3px 3px 10px rgba(0,0,0,.5);

    }

  }
}


