$colorTheme: #196b23;
$switchHeight: 0.7em;
$switchWidth: 1.2em;
$switchHandleColor: #fff;

.wrapper {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: inline-flex;
  height: 30px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  border: 1px solid black;

  input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
    position: relative;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
  }

  .checkbox {
    height: 25px;
    width: 25px;
    background-color: #eee;

    &:hover {
      background-color: #ccc;
    }

    &:checked {
      background-color: $colorTheme;
      border: 6px solid white;
    }
  }

  .switch {
    font-size: 30px;
    width: $switchWidth;
    height: $switchHeight;
    background: dimgray;
    border-radius: 3em;
  }

  .switch:checked {
    background: $colorTheme;
  }

  .switch:after {
    position: absolute;
    content: "";
    width: $switchHeight;
    height: $switchHeight;
    border-radius: 50%;
    background: $switchHandleColor;
    -webkit-box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }

  .switch:checked:after {
    left: calc(100% - #{$switchHeight});

  }

  .defaultSpan {
    padding: 5px;
  }
}
