@use 'src/styles/flat-design-colors';
@use 'src/styles/layout-variables';

.wrapper {
  color: flat-design-colors.$normalText;
  background-color: flat-design-colors.$pageBackground;
  box-sizing: border-box;
  //height: 100%;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > div {
    background-color: flat-design-colors.$pageFormsBackground;
    border-bottom: 3px solid flat-design-colors.$pageFormsBorder;
    border-radius: layout-variables.$elementsBorderRadius;
    display: flex;
    flex-direction: column;
    //height: 600px;
    width: 400px;
    padding: 20px;

    h1, div, a, p {
      //border: 1px solid;
      //width: 100%;
    }

    h1 {
      text-align: center;
    }

    a {
      text-align: center;
      font-family: "Josefin Sans", sans-serif;
      font-weight: 700;
      font-size: 20px;
    }
  }
}