//palette

$metallicSeaweed: #057F8D;
$salmon: #FA8072;
$white: #FFFFFF;
$aliceBlue: #D8E2DC;
$prussianBlue: #172A3A;


//colors by app functionality

$background: $metallicSeaweed;

$brightText: $white;

$darkText: $prussianBlue;

$elementBorder: darken($salmon, 30%);