$backgroundColorDefault: #FDA37E;
$backgroundColorSecondary: #F3EDD3;

$elementsColorDefault: #19698C;
$elementsBorderColorDefault: #384B64;

$elementsColorSecondary: #4CDF78;
$elementsBorderColorSecondary: #53A574;

$elementsColorThemeRed: salmon;
$elementsBorderColorThemeRed: rgb(150, 120, 120);


//some grayish
$elementsBackground: rgba(191, 185, 169, .2);
$checkMarkColor: #5E5D58;


$elementError: rgb( 231, 76, 60 );
$elementErrorBorder: rgb( 192, 57, 43 );
$backgroundPrimary: #2980b9;


