$backgroundColorDefault: #FDA37E;
$backgroundColorSecondary: #f7b731;

$elementsColorDefault: #20bf6b;
$elementsBorderColorDefault: #17834a;

$elementsColorSecondary: #4CDF78;
$elementsBorderColorSecondary: #53A574;

$elementsColorThemeRed: salmon;
$elementsBorderColorThemeRed: rgb(150, 120, 120);


//some grayish
$elementsBackground: rgba(191, 185, 169, .2);
$checkMarkColor: #5E5D58;


$elementError: #eb3b5a;
$elementErrorBorder: #eb3b5a;
$backgroundPrimary: #2980b9;

$mainColor: #0fb9b1;
$secondaryColor: #f7b731;
$accentColor1: #20bf6b;
$accentColor2: #4b6584;
$textColorMain: white;
$textColorInverse: #4b6584;


