$backgroundColorDefault: #FDA37E;
$backgroundColorSecondary: #f7b731;

$elementsColorDefault: #20bf6b;
$elementsBorderColorDefault: #17834a;

$elementsColorSecondary: #4CDF78;
$elementsBorderColorSecondary: #53A574;

$elementsColorThemeRed: salmon;
$elementsBorderColorThemeRed: rgb(150, 120, 120);


//some grayish
$elementsBackground: rgba(191, 185, 169, .2);
$checkMarkColor: #5E5D58;


$elementError: #eb3b5a;
$elementErrorBorder: #eb3b5a;
$backgroundPrimary: #2980b9;

$mainColor: #0fb9b1;
$secondaryColor: #f7b731;
$accentColor1: #20bf6b;
$accentColor2: #4b6584;
$textColorMain: white;
$textColorInverse: #4b6584;


//palette
//https://flatuicolors.com/palette/de
$desire: #eb3b5a;
$fusionRed: #fc5c65;
$beniukonBronze: #fa8231;
$orangeHibiscus: #fd9644;
$nycTaxi: #f7b731;
$flirtatious: #fed330;
$algalFuel: #20bf6b;
$reptileGreen: #26de81;
$turquoiseTopaz: #0fb9b1;
$maximumBlueGreen: #2bcbba;
$twinkleBlue: #d1d8e0;
$blueGrey: #778ca3;
$innuendo: #a5b1c2;
$blueHorizon: #4b6584;
$highBlue: #45aaf2;
$c64NTSC: #4b7bec;
$boyZone: #2d98da;
$royalBlue: #3867d6;
//weren't in the palette
$white: white;
$chicago: #5E5D58;



//colors by purpose

$pageBackground: $turquoiseTopaz;
$pageFormsBackground: $nycTaxi;
$pageFormsBorder: darken($pageFormsBackground, 20%);

$messagePopupBackground: $nycTaxi;
$messagePopupBorder: darken($messagePopupBackground, 20%);

$normalButtonBackground: $algalFuel;
$normalButtonBorder: darken($normalButtonBackground, 20%);
$disabledNormalButtonBackground: desaturate($normalButtonBackground, 35%);

$error: $desire;
$danger: $desire;
$errorPopupBorder: darken($error, 20%);

$normalText: $white;
$darkText: black;

$notHoveredLink: $white;
$hoveredLink: $white;

$rangeFill: $algalFuel;
$rangeThumbInactive: $blueHorizon;
$rangeThumbActive: lighten($rangeThumbInactive, 3%);
//$rangeThumbActiveShadow: $flirtatious;
$rangeThumbActiveShadow: $fusionRed;

$checkboxUncheckedBackground: $blueHorizon;
//$checkboxUncheckedBackground: none;
$checkboxCheckedBackground: $blueHorizon;
$checkboxCheckmark: $white;

$normalTextInputBackground: $white;
$normalTextInputText: $blueHorizon;
$normalTextInputBorder: $blueHorizon;
$errorTextInputText: $error;
$errorTextInputBorder: darken($error, 5%);
$errorTextInputBackground: lighten($error, 20%);
$disabledTextInputBackground: $blueGrey;
