@use '../../styles/layout-variables';
@use '../../styles/flat-design-colors';

.wrapper {
  position: relative;
  background-color: flat-design-colors.$mainColor;
  height: layout-variables.$headerHeight;
  margin: 0;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  button{
    position: absolute;
    right: 40px;
    //top: 20px;
    background-color: transparent;
    margin: 0;
    //margin-left: 40px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
      text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);
    }
  }

  a {
    text-decoration: none;
    margin-right: 20px;
  }
}

.activeLink{
  border-bottom: 3px solid white;
}