@use '../../styles/layout-variables';
@use '../../styles/flat-design-colors';

.wrapper {
  position: relative;
  background-color: flat-design-colors.$mainColor;
  height: layout-variables.$headerHeight;
  margin: 0;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .headerMenu {
    position: absolute;
    right: 40px;
  }

  a {
    text-decoration: none;
    margin-right: 20px;
  }
}

.activeLink {
  border-bottom: 3px solid white;
}