
.wrapper {
  background-color: #cccccc;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 10px;

  label {
    position: relative;
    cursor: pointer;


    input {
      position: relative;
      appearance: none;
      //opacity: 0;
      -webkit-transition: all 0.2s;
      transition: all 0.2s;

      &:checked + .icon { //next sibling that has the class
        color: blue;
      }

      //&:hover::after {
      //  background-color: #275EFE;
      //  font-weight: 600;
      //  width: max-content;
      //  content: attr(value);
      //  position: absolute;
      //  left: 0px;
      //  bottom: -25px;
      //  z-index: 20;
      //}
    }

    .icon {
      //color: red;
      margin-right: 5px;
      font-size: 26px;
      font-weight: bold;

      &:hover + .optionText {
        opacity: 1;
      }
    }

    .optionText {
      font-weight: 500;
      font-size: 16px;
      //word-break: ;
      min-width: max-content;
      padding-left: 5px;
      padding-right: 5px;
      text-align: center;
      background-color: #70c2a5;
      position: absolute;
      opacity: 0;
      z-index: 10;
      bottom: 40px;
      left: -20px;
    }
  }


  //input[type="radio"] + svg {
  //  -webkit-transition: all 0.2s;
  //  transition: all 0.2s;
  //}
  //
  //input + svg {
  //  cursor: pointer;
  //}
  //
  //input[class="super-happy"]:hover + svg,
  //input[class="super-happy"]:checked + svg,
  //input[class="super-happy"]:focus + svg {
  //  fill: rgb(0, 109, 217);
  //}

}













