@use '../../styles/flat-design-colors';

$menuButtonColor: flat-design-colors.$elementsColorDefault;
$menuButtonBorderColor: flat-design-colors.$normalButtonBorder;
$optionsBoxColor: flat-design-colors.$dropdownBackground;

$optionHoverColor: flat-design-colors.$elementsColorDefault;
$menuButtonHoverColor: flat-design-colors.$elementsColorDefault;

$arrowIconColor: white;
$arrowBackgroundColor: flat-design-colors.$dropdownBackground;

$menuButtonTextColor: white;
$optionTextColor: white;

$buttonHoverTextColor: #f1e8e6;
$optionHoverTextColor: #f1e8e6;
$menuButtonHoverTextColor: #f1e8e6;

$collapsedHeight: 50px;

.wrapper {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  //width: 100%;
  padding: 0;
  margin: 0;

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
  }

  .menuButton {
    position: relative;
    text-align: left;
    background-color: $menuButtonColor;
    width: 100%;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px 50px;
    border-radius: 5px;
    margin: 5px;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-color: $menuButtonBorderColor;
    transition: text-shadow 0.3s ease;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;

    span {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: $arrowBackgroundColor;
      font-size: 26px;
      font-weight: 900;
      padding-right: 20px;
      padding-left: 20px;
      display: flex;
      align-items: center;
      border-radius: 0 5px 0 0;
    }

    &:hover {
      //  text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);

      svg {
        :global {
          animation: jump 0.5s infinite;
        }
      }
    }
  }

  .compactMenuButton {
    padding: 10px 20px;
  }

  .menuExpanded {
    &:hover {
      svg {
        animation: none;
      }

    }

    & > span > svg {
      transform: rotateZ(180deg);
    }
  }

  .optionsBox {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    z-index: 10;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    row-gap: 5px;
    background-color: $optionsBoxColor;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    color: $optionTextColor;
    transition: height 0.3s ease-out;
    border-radius: 5px;
    //margin: 0;
    //padding-top: -20px;
    //text-indent: 0;
    //list-style: none none;


    .menuItem {
      margin: 0;
      padding: 0;
      width: 100%;
      color: $optionTextColor;
      pointer-events: none;

      a, button {
        text-transform: uppercase;

        background-color: transparent;
        font-size: 14px;
        margin: 0;
        padding: 0 0 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        pointer-events: all;
        cursor: pointer;
        width: 100%;
        height: 100%;
        color: $optionTextColor;

        &:hover {
          background-color: $optionHoverColor;
          color: $optionHoverTextColor;
          text-shadow: 2px 2px 0 rgba(0, 0, 0, .3);


        }

        svg {
          font-size: 1.3em;
          display: inline-block;
          min-width: 20px;
          margin: 0 20px 0 0;
        }
      }
    }


  }


}

@keyframes:global(jump) {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(2px);

  }
}
