.table {
  width: 100%;
  background-color: rgba(194, 170, 81, 0.62);

  button {
    background-color: #0f8ad7;
    cursor: pointer;
  }

  * {
    box-sizing: border-box;
  }

  thead {
    background-color: #275EFE;

    tr {

      th {

      }
    }
    .filterButton{
      cursor: pointer;
      background-color: transparent;
      border: none;
      outline: none;
      &.activeFilterButton{
        background-color: #00E6F6;
      }
    }
  }

  tbody {
    tr {
      border: 3px solid green;
      background-color: #f44336;
      max-height: 100px;

      &:nth-child(even) {
        background: lightgreen;

      }

      td {
        max-height: 100px;
        max-width: 500px;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 5px;

        &:first-child {
          text-align: left;
          padding-left: 20px;
          padding-right: 20px;
        }

        button {
          //background-color: #275EFE;
        }
      }

    }
  }

}

.tdSizeLimiter {
  display: inline-block;
  max-height: 120px;
  max-width: 600px;
  overflow: hidden;
  //word-break: break-all;
  word-break: break-word;
}