
.app {
    /*border: 3px solid #4CDF78;*/
    padding: 0;
    margin: 0;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: rgba(59,119,180,0.46);
}

h1, h2, h3 {
    margin: 0;
}

/*@font-face {*/
/*    font-family: 'Josefin Sans';*/
/*    !*src: local("JosefinSans"),*!*/
/*    src: url('assets/fonts/JosefinSans-VariableFont_wght.ttf') format('truetype');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/