@import 'src/styles/flat-design-colors';

.page {
  box-sizing: border-box;
  background-color: $backgroundColorDefault;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  font-weight: 700;
  font-family: 'Josefin Sans', sans-serif;
  color: white;

  h1 {
    margin: 0;
    padding: 0;
  }

  h1, h2::before {
    content: "";
    width: 100%;
    margin: 12px;
    display: block;
    text-align: left;
    border-bottom: 1px solid #ffffff;
  }

  .componentsContainer {
    border: 1px solid;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    overflow-y: hidden;

  }
}

.vertical {
  display: flex;
  flex-direction: column;
}

.elementTypeContainer {
  border: 1px solid #e52376;
  min-height: 10vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}